/* default overrides */


/* colors 
Light Lime: #abd699

Fresh Lemon: #ffe26a

Teal: #75c9b7

Mint: #c7ddcc

Navy: #16123f

*/

html {}

body {
    background: linear-gradient(#e66465, #9198e5);
    margin: 0;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: left;
}

hr.style1 {
    border-top: 1px solid #ffe26a;
    border-bottom: 1px solid #ffe26a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 8px;
    /* border: 3px; */
    color: white;
    /* background-color: #09814A; */
    /* background-color: #e9c46a; */
}

li a:hover {
    color: rgb(251, 236, 205);
}


/* classes */

.container {
    border: 3px;
    padding: 10px;
    margin: 5px;
}

.navigation {
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #000000;
    /* border: 3px; */
    width: 100%;
    /* margin: 0; */
}

.content {
    text-align: left;
    padding: 20px;
    border: 30px;
    margin: 0;
}

.words {
    color: black;
}